<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cpen391.flappyaccount">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--    permission to access user's location-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>
        <activity android:name=".activity.VerifyOTPActivity"
            android:launchMode="singleTop">

        </activity>
        <activity android:name=".activity.ResetPasswordSuccessActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.ForgetPasswordActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.StartActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.ResetPasswordActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.SignUpActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.SelectGameModeActivity" />
        <activity android:name=".activity.SingleGameStartActivity" />
        <activity android:name=".activity.MultipleGameStartActivity" />
        <activity android:name=".activity.EndGamePointActivity" />
        <activity android:name=".activity.PersonalDataActivity" />
        <activity android:name=".activity.VoiceControlActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
