<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cpen391.flappyaccount">

    <application>
        <activity android:name=".activity.VerifyOTPActivity"></activity>
        <activity android:name=".activity.ResetPasswordSuccessActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.StartActivity" />
        <activity android:name=".activity.ResetPasswordActivity" />
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>